[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
jupyter = "*"
kaggle = "*"
pandas = "*"
jupyterlab = "*"
tqdm = "*"
matplotlib = "*"
psycopg2 = "*"
seaborn = "*"

[requires]
python_version = "3.6"
